extends layout

block content

  .container-fluid
    .row
      .col-md-3
        .card
          div.card-header
            h3
              span.playlist-title Playlist 
              | &nbsp 
              if isLoggedin 
                i.fa.fa-pencil-square-o.edit
            div.d-flex.justify-content-end
              div.btn-group
                button.btn.btn-primary.btn-sm.dropdown-toggle(data-toggle= 'dropdown',
                  aria-haspopup= 'true', aria-expanded='false', disabled= !isLoggedin) Load
                div.dropdown-menu.list-of-playlists
                button.btn.btn-danger.btn-sm.delete-button Delete &nbsp
                  i.fa.fa-bomb
          .card-block.playlist-block
            ul.list-group.playlist
      .col-md-7
        .card
          .card-block.text-center
            div#youtube-player  
      .col-md-2
        .card
          .card-block
            a.btn.btn-block.btn-danger(href= loginLogout)
              i.fa.fa-youtube.fa-2x &nbsp&nbsp
              | #{loginLogoutButton}
        .card
          .card-block
            input.search.form-control(type='text', placeHolder='Search')
        .card
          .card-block.search-results
  if isLoggedin == true
    script populateAllPlaylists()
