extends layout

block content

  .container-fluid
    .row
      .col-md-3
        .card
          div.card-header
            h3 Playlist 
            div.d-flex.justify-content-start
              button.btn.btn-primary.btn-sm Load
              | &nbsp
              button.btn.btn-primary.btn-sm Save
          .card-block.playlist-block
            ul.list-group.playlist
      .col-md-7
        .card
          .card-block.text-center
            div#youtube-player  
      .col-md-2
        .card
          .card-block
            a.btn.btn-block.btn-danger(href= loginLogout)
              i.fa.fa-youtube.fa-2x &nbsp&nbsp
              | #{loginLogoutButton} 
    
