.card-block {
  padding: .25em;
}

.container-fluid {
  margin-top: 1em;
}

.playlist-block, .search-results {
  height: 75%;
  overflow: scroll;
}

.card {
  margin-bottom: .25em;
}

.search-item:hover {
  background-color: #7db8db;
}
