.delete-video {
  color: red;
}
.delete-video:hover {
  color: darkred;
}

.youtube-player {
  background-color: #b3ecff;
}

.card-block {
  padding: .25em;
}

.container-fluid {
  margin-top: 1em;
}

.playlist-block,
.search-results {
  max-height: 75%;
  overflow: scroll;
}

.card {
  margin-bottom: .25em;
}

.search-item:hover {
  background-color: #7db8db;
}

.list-of-playlists {
  background-color: #7db8db;
  border: 2px black solid;
}

.new-playlist {
  margin-top: 1em;
}

.btn-group {
  max-width: 100%;
}

.playlist-title {
  font-size: 22px;
}

.search {
  font-weight: bold;
}
